
body {
    font-family: "Microsoft JhengHei", "Heiti TC";
    font-weight: normal !important;
}

.x-button-label, .x-badge, .x-hasbadge .x-badge {
    font-family: "Microsoft JhengHei", "Heiti TC";
    font-weight: normal !important;
}

#selectDept .x-input-el {
    background-color: #efefef;
}

#selectRole .x-input-el {
    background-color: #efefef;
}

/* 附件列表清單父容器table - by yi-chi chiu */
#PanelAttach .attach_list {
    width: inherit;
}

/*公文速件類別*/
.speed-normal {
    color: black;
    background: white;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    border: black 1px solid;
}

.speed-faster {
    color: black;
    background: #3399FF;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    border: black 1px solid;
}

.speed-fastest {
    color: black;
    background: red;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    border: black 1px solid;
}

/*受文者類別*/
.recipient-paper {
    color: black;
    background: white;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    border: black 1px solid;
}

.recipient-mail {
    color: black;
    background: grey;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    border: black 1px solid;
}

.recipient-bulletin {
    color: black;
    background: #3399FF;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    border: black 1px solid;
}

.recipient-online {
    color: black;
    background: greenyellow;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    border: black 1px solid;
}

.paper-list-state-read {
    color: black;
    background: #008000;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
}

.selectLable {
    font-weight: bold;
    font-family: "Aswsome";
}

.segFolder-selector .x-button .x-button-label {
    font-size: 20px;
}

.segdoc-selector .x-button .x-button-label {
    font-size: 15px;
    font-family: "Microsoft JhengHei", "Heiti TC";
}

.segdoc-selector .p {
    font-family: "Microsoft JhengHei", "Heiti TC";
    font-weight: normal !important;
}

.segdoc-async-selector .p {
    font-family: "Microsoft JhengHei", "Heiti TC";
    font-weight: normal !important;
}

.segdoc-tip-selector {
    background: #fff !important;
    /*
    min-height: 35px !important;
    padding: 0 70px;
	border-bottom:1px solid #ccc;
    */
	
}



    .segdoc-tip-selector .x-button-label {
        font-size: 90% !important;
        -webkit-font-smoothing: antialiased !important;
        margin: 0 5px;
        color: black;
        font-weight: normal;
    }

.segdoc-clear {
    background: white !important;
    min-height: 25px !important;
    padding: 0 20px;
}

.suggestion-titlebar {
    -webkit-font-smoothing: antialiased;
    min-height: 40px;
}

    .suggestion-titlebar .x-title {
        text-shadow: none !important;
        font-family: "Microsoft JhengHei", "Heiti TC";
        font-weight: normal !important;
    }

.tab-segdoc-selector .x-container {
    background-color: #fff !important;
    background-image: none !important;
    border-bottom: 1px solid #ccc;
    font-size: 120%;
    height: 40px
}

.tab-segdoc-selector .x-tab {
    color: #666 !important;
}

.tab-segdoc-selector .x-button-label {
    font-family: "Microsoft JhengHei", "Heiti TC";
}

.tab-segdoc-selector .x-tab-active {
   background-color:#fff !important;
   color:#000 !important;
   font-weight:900 !important;
   position:relative;
}
.tab-segdoc-selector .x-tab-active::after{
	content:'';
	display:block;
	width:100%;
	height:4px;
	background-color:#4F85A3;
	position:absolute;
	bottom:-2px;
	left:0;
	
}

.tool-actions {
    background-color: white !important;
    background-image: none !important;
    min-height: 30px;
}

    .tool-actions .x-inner {
        height: 80px;
    }

    .tool-actions .x-button {
        background-color: purple;  /* 設定背景顏色為紫色 */
        background-image: none;
        -webkit-font-smoothing: antialiased;
        padding: 0 2px;
        height: 40px;
        margin: 2px;
        -webkit-border-radius: 2;
        -moz-border-radius: 4;
        -ms-border-radius: 4;
        -o-border-radius: 4;
        border-radius: 4;
        color: white;  /* 設定字體顏色為白色 */
        font-size: 16px;  /* 設定字體大小 */
        text-align: center;  /* 設定文字置中 */
        cursor: pointer;  /* 設定滑鼠移至按鈕上時顯示為手型 */
    }
    
    /* 懸停效果，當滑鼠移至按鈕上時，改變背景顏色 */
    .tool-actions .x-button:hover {
        background-color: #8a2be2;  /* 當按鈕被點擊時，顏色變為較亮的紫色 */
        transform: scale(0.95);  /* 按下按鈕時，稍微縮小按鈕 */
        transition: transform 0.1s ease;  /* 設定按鈕縮放的過渡效果 */
    }    

.tool-actions-only {
    background-color: white !important;
    background-image: none !important;
    min-height: 35px;
}

    .tool-actions-only .x-button {
        background-color: purple;
        background-image: none;
        -webkit-font-smoothing: antialiased;
        margin: 3px 2px 3px 2px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

        .tool-actions-only .x-button .x-button-label {
            font-size: 25px;
        }

.tool-actions .x-button-label {
    font-size: 100% !important;
    word-wrap: break-word;
    white-space: pre-wrap; /* this is for displaying whitespaces including Moz-FF.*/
    font-family: "Microsoft JhengHei", "Heiti TC";
}

.tool-actions-btn-small {
    font-size: 90%;
    height: 32px !important;
}

/* line 276, ../sass/_shared.scss */
.dataview-horizontal, .dataview-inline {
    background-color: #d0d0d0;
}

    /* line 279, ../sass/_shared.scss */
    .dataview-horizontal .name, .dataview-inline .name {
        width: 150px;
    }

    /* line 283, ../sass/_shared.scss */
    .dataview-horizontal .img, .dataview-inline .img {
        display: inline-block;
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-size: 104%;
        background-position: 50%;
    }

    /* line 292, ../sass/_shared.scss */
    .dataview-horizontal .x-dataview-item, .dataview-inline .x-dataview-item {
        -webkit-box-shadow: 0px 5px 10px -6px black;
        -moz-box-shadow: 0px 5px 10px -6px black;
        box-shadow: 0px 5px 10px -6px black;
        padding: 10px 10px 20px 10px;
        margin: 5px;
        background-color: white;
    }

        /* line 297, ../sass/_shared.scss */
        .dataview-horizontal .x-dataview-item div, .dataview-inline .x-dataview-item div {
            color: black;
            padding-top: 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }
/*creatBanner Title hint*/
.formSentPaperTitleStyle {
    color: #ff0000;
    margin-left: 30%;
}
/*職名章*/
.seal-time{
    display: inline-block;
    font-size: 10px;
    position: relative;
    top: 9px;
    margin-left: 3px;
}


/*便利貼*/

.sticky {
    /* Firefox */
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    opacity: 0.9;
}

    .sticky h2 {
        font-size: 90%;
        padding: 6px 3px;
        background-color: #fdf021;
        height: 30px;
    }

    .sticky textarea {
        padding: 0 0 5px 5px;
        margin: 6px 0 0 0;
        width: 10em;
        min-height: 7em;
        vertical-align: top;
        border: none;
    }

    .sticky .sticky-button {
        float: right;
        cursor: pointer;
        background-color: #605F61;
        color: #fff;
        border: 1px solid #AEAEAE;
        border-radius: 30px;
        font-weight: bold;
        display: inline-block;
        line-height: 0;
        padding: 13px 8px;
        margin: -3px 0 0 5px;
    }

    .sticky .sticky-button-word {
        font-size: 18px;
        float: right;
        background-color: #fdf021;
        cursor: pointer;
        padding: 0 8px;
        margin: -3px;
    }

    .sticky .sticky-time {
        float: right;
        font-size: 8px;
    }

.sticky, .dataview-inline {
    background-color: white;
}

    .sticky .x-dataview-item, .dataview-inline .x-dataview-item {
        /*-webkit-box-shadow: 0px 5px 10px -6px black;*/
        /*-moz-box-shadow: 0px 5px 10px -6px black;*/
        /*box-shadow: 0px 5px 10px -6px black;*/
        padding: 0px 0px 5px 5px;
        margin: 5px;
        background-color: #ffc;
        width: 10em;
        min-height: 10em;
        /* Firefox */
        -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
        /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        /* Opera */
        box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        vertical-align: top;
    }

        .sticky .x-dataview-item div, .dataview-inline .x-dataview-item div {
            color: black;
            padding-top: 10px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .sticky .x-dataview-item div h2, .dataview-inline .x-dataview-item div h2 {
                font-size: 110%
            }

.x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
    line-height: 1.4em;
}

/*按鈕上標*/
.icobadge {
    border-color: #900;
    /*min-width: 2em;*/
    line-height: 1.2em;
    top: -0.3em;
    padding: .1em .3em;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #fcc;
    background-image: none;
    background-color: #c00;
    background-image: -webkit-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    background-image: -moz-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    background-image: -o-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    background-image: -ms-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.6em;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
    font-weight: bold;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-size: 0.9em;
    z-index: 2;
    position: absolute !important;
    width: auto;
    right: -.5em;
    max-width: 95%;
    display: inline-block;
}

/*按鈕上標*/
.icobadge1 {
    border-color: #900;
    /*min-width: 2em;*/
    line-height: 1.2em;
    top: -0.3em;
    padding: .1em .3em;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #fcc;
    background-image: none;
    background-color: #c00;
    background-image: -webkit-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    background-image: -moz-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    background-image: -o-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    background-image: -ms-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.6em;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
    font-weight: bold;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-size: 0.9em;
    z-index: 2;
    position: absolute !important;
    width: auto;
    /*right: -.5em;*/
    left: 2em;
    max-width: 95%;
    display: inline-block;
}

/*虛擬輸入框*/
.virtualInput {
    /*color:white;*/
    /*color: rgb(60, 0, 248);*/
    /*text-shadow: 0px 0px 0px #D60B0B;*/
    /*-webkit-text-fill-color: transparent;*/
    border: none;
    width: 1px;
    height: 1px;
}

.flow-me:before {
    font-family: "Aswsome";
    content: "\f0a4";
    font-size: 150%;
}

.flow-dest:before {
    font-family: "Aswsome";
    content: "\f041";
    font-size: 150%;
}

.flow-delete:before {
    font-family: "Aswsome";
    color: red;
    content: "\f056";
    font-size: 150%;
}

.flow-move:before {
    font-family: "Aswsome";
    content: "\f07d";
    font-size: 120%;
}

.flow-rename:before {
    font-family: "Aswsome";
    content: "\f044";
    font-size: 120%;
}

.flow-move {
    position: absolute !important;
    right: 20px;
    font-size: 120%;
    bottom: 10px;
}

.flow-rename {
    position: absolute !important;
    right: 60px;
    font-size: 120%;
    bottom: 10px;
}

.flow-group:before {
    font-family: "Aswsome";
    content: "\f0c0";
    font-size: 120%;
}

.flow-group {
    position: absolute !important;
    right: 60px;
    font-size: 120%;
}

/*發文機關 主辦機關*/
.checkboxOnly .x-form-label {
    border-top: 0px solid #fff;
    margin: 3px;
}

.checkboxOnly .x-field-mask {
    width: 45px;
}

.checkboxOnly .x-input-el:checked + .x-field-mask::after {
    color: red;
}

.checkboxOnly .x-component-outer {
    bottom: 5px;
}

.xl65 {
    mso-style-parent: style0;
    color: white;
    font-weight: 700;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    mso-font-charset: 136;
    text-align: center;
    background: red;
    mso-pattern: black none;
}

.xl66 {
    mso-style-parent: style0;
    color: black;
    font-size: 12pt;
    font-weight: 700;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    mso-font-charset: 136;
    text-align: center;
    border: 1.0pt solid #99D9EA;
    background: #ECF2F9;
    mso-pattern: black none;
    white-space: normal;
}

.xl67 {
    mso-style-parent: style0;
    color: black;
    font-size: 12pt;
    font-weight: 700;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    mso-font-charset: 136;
    text-align: center;
    border: 1.0pt solid #99D9EA;
    background: white;
    mso-pattern: black none;
    white-space: normal;
}

.version-user:before {
    font-family: "Aswsome";
    content: "\f007";
    font-size: 120%;
}

.version-card:before {
    font-family: "Aswsome";
    content: "\f2bc";
    font-size: 120%;
}

.edition-doc{
    cursor: pointer;
}

.edition-name {
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    /* 文字過長斷行 - by yi-chi chiu */
    word-break: break-word;
    max-width: 195px;
    cursor: pointer;
}

.edition-who:before {
    font-family: "Aswsome";
    content: "\f007";
    font-size: 100%;
    margin-right: .2em;
}
.edition-who{
    border-top:1px solid #ccc;
    padding: 5px 0;
    white-space: pre-line;
    max-width: 255px;
    /* cursor: pointer;  /* 設定滑鼠移至按鈕上時顯示為手型 */
}
.edition-when {
    border-bottom:1px solid #ccc;
    paddin: 5px 0;
    max-width: 255px;
}

.edition-what:before {
    font-family: "Aswsome";
    content: "\f02d";
    font-size: 100%;
    margin-right: .2em;
}

.edition-when:before {
    font-family: "Aswsome";
    content: "\f017";
    font-size: 100%;
    margin-right: .2em;
}

.edition-open:before {
    font-family: "Aswsome";
    content: "\f115";
    font-size: 110%;
    margin-right: .8em;
    cursor: pointer;
}

.newdoc-link:before {
    font-family: "Aswsome";
    content: "\f0c1";
}

.customTable td {
    border: solid 1px black;
}

.customTable table {
    border-collapse: collapse;
    border-spacing: 0;
}

.customTable td {
    padding: 8px;
}

    .customTable td div {
        outline: none;
    }

.customTable .s {
    background: #d0eaf9;
}

.customTable .close-button {
    float: right;
    display: inline-block;
    /*position: relative;*/
    right: 0;
    top: -20px;
}

.item-name .check:before {
    font-weight: bold;
    font-size: 125%;
    font-family: 'Pictos';
    content: '3';
    color: red;
    margin-right: 5px;
}

.item-name .uncheck:before {
    font-weight: bold;
    font-size: 125%;
    font-family: 'Pictos';
    content: '3';
    color: #ddd;
    margin-right: 5px;
}

.firefox-compatibility .x-layout-box {
    display: flex !important;
}

.symbol-close:after {
    font-size: 30px;
    float: right;
    font-family: 'Aswsome';
    content: '\f00d';
    display: inline-block;
}

.chevron-down:after {
    float: right;
    font-family: 'Aswsome';
    content: '\f078';
    display: inline-block;
}

.chevron-up:after {
    float: right;
    font-family: 'Aswsome';
    content: '\f077';
    display: inline-block;
}

.textareafield-notresize textarea {
    resize: none !important;
}

.iframe-holder {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.x-scroll-indicator.rounded > :nth-child(2) {
    content: none !important;
}

.x-scroll-indicator.rounded > * {
    background-color: #ccc !important;
}

.x-scroll-bar-y.active {
    width: 12px;
}

/*追蹤修訂歷程*/

.segdoc-async-selector .x-button .x-button-label {
    font-size: 120%;
    font-family: "Microsoft JhengHei", "Heiti TC";
    height: 60px;
}

.tab-async-selector .x-container {
    background-color: white !important;
    border: 0;
    font-size: 120%;
    height: 60px;
}

.segdoc-async-selector .x-button, .segdoc-async-selector .x-button.x-button-back:after,
.x-button.x-button-forward:after, .segdoc-async-selector .x-toolbar .x-button,
.segdoc-async-selector .x-toolbar .x-button.x-button-back:after,
.segdoc-async-selector .x-toolbar .x-button.x-button-forward:after {
    background-image: none;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #f2f2f2,#f7f7f7 3%,#ffffff);
    background-image: -moz-linear-gradient(top, #f2f2f2,#d9d9d9 3%,#bfbfbf);
    background-image: -o-linear-gradient(top, #f2f2f2,#d9d9d9 3%,#bfbfbf);
    background-image: -ms-linear-gradient(top, #f2f2f2,#d9d9d9 3%,#bfbfbf);
}

    .segdoc-async-selector .x-button.x-button-pressing, .segdoc-async-selector .x-button.x-button-pressing:after,
    .segdoc-async-selector .x-button.x-button-pressed, .segdoc-async-selector .x-button.x-button-pressed:after,
    .segdoc-async-selector .x-button.x-button-active, .segdoc-async-selector .x-button.x-button-active:after,
    .segdoc-async-selector .x-toolbar .x-button.x-button-pressing,
    .segdoc-async-selector .x-toolbar .x-button.x-button-pressing:after,
    .segdoc-async-selector .x-toolbar .x-button.x-button-pressed,
    .segdoc-async-selector .x-toolbar .x-button.x-button-pressed:after,
    .segdoc-async-selector .x-toolbar .x-button.x-button-active,
    .segdoc-async-selector .x-toolbar .x-button.x-button-active:after {
        background-image: none;
        background-color: #c4c4c4;
        background-image: -webkit-linear-gradient(top, #ababab,#b8b8b8 10%,#c4c4c4 65%,#c6c6c6);
        background-image: -moz-linear-gradient(top, #ababab,#b8b8b8 10%,#c4c4c4 65%,#c6c6c6);
        background-image: -o-linear-gradient(top, #ababab,#b8b8b8 10%,#c4c4c4 65%,#c6c6c6);
        background-image: -ms-linear-gradient(top, #ababab,#b8b8b8 10%,#c4c4c4 65%,#c6c6c6);
    }

.segdoc-async-selector .x-segmentedbutton .x-button {
    -moz-border-radius-topleft: 0.0em;
    -webkit-border-top-left-radius: 0.0em;
    border-top-left-radius: 0.0em;
    -moz-border-radius-bottomleft: 0.0em;
    -webkit-border-bottom-left-radius: 0.0em;
    border-bottom-left-radius: 0.0em;
    border-top-right-radius: 0.0em;
    border-bottom-right-radius: 0.0em;
}

.segdoc-async-selector .x-button, .segdoc-async-selector .x-toolbar .x-button {
    border: 1px solid #f9f9f9;
    border-top-color: #a6a6a6;
    background-color: #ccc;
    color: #000;
}
